/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #1a1a1a;
  color: #ffffff;
  line-height: 1.6;
  text-align: center; /* Center content horizontally */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center flex items horizontally */
  justify-content: center; /* Center flex items vertically */
  height: 100vh;
}

/* Container styles */
.container {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px;
  width: 80%; /* Adjust as needed */
  max-width: 600px; /* Adjust as needed */
}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

/* Button styles */
button {
  padding: 10px 20px;
  background-color: #2196f3;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0d8bf0;
}

/* Content styles */
#content {
  margin: 20px 0;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center; /* Center children horizontally */
}

#content img {
  max-width: 300px;
  height: auto;
  border-radius: 5px;
  margin-bottom: 20px;
}

#content p {
  font-size: 1.2em;
}

/* Media queries for responsive design */
@media screen and (max-width: 600px) {
  .container {
      width: 90%;
      margin: 10px;
  }

  h1 {
      font-size: 24px;
  }

  #content p {
      font-size: 1em;
  }
}
